.r-MistyRose
{
    color: MistyRose;
}
.r-Moccasin
{
    color: Moccasin;
}
.r-SpringGreen
{
    color: SpringGreen;
}
.r-SteelBlue
{
    color: SteelBlue;
}
.r-Teal
{
    color: Teal;
}
.r-LightBlue
{
    color: LightBlue;
}
.r-LightCoral
{
    color: LightCoral;
}
.r-LightSlateGray
{
    color: LightSlateGray;
}
.r-LightCyan
{
    color: LightCyan;
}
.r-LightGoldenRodYellow
{
    color: LightGoldenRodYellow;
}
.r-LightGreen
{
    color: LightGreen;
}
.r-LightPink
{
    color: LightPink;
}

.r-LightSalmon
{
    color: LightSalmon;
}
.r-LightSeaGreen
{
    color: LightSeaGreen;
}
.r-LightSkyBlue
{
    color: LightSkyBlue;
}
.r-Tan
{
    color: Tan;
}
.r-LightSteelBlue
{
    color: LightSteelBlue;
}
.r-HigLightRoute
{
    color: Green;
}
.r-UnassignedAppointment
{
    color: #0000FF;
}