.staffscheduler .x-grid-inner-locked .x-grid-cell
{
    border-bottom-color: lightBlue;
    border-top-color: #FFEEEE;
    color:#fff;
    background:transparent;
}

.taskgrid .x-grid-cell
{
    cursor:pointer;
    height:26px;
}

.staffscheduler .x-grid-inner-locked .x-grid-row-selected .x-grid-cell {
    background-color: navy !important;
}

.staffscheduler .x-grid-inner-locked .x-grid-cell-first div
{
    background: url(../img/user.png) no-repeat 3px center;
    padding-left:27px;
}

.staffscheduler .sch-schedulerview
{
    background: grey;
}

.staffscheduler .x-grid-inner-locked .x-grid-view
{
    background: url(../img/dark-bg-lines.gif) repeat left center;
}

.staffscheduler .x-grid-inner-locked .x-grid-view td
{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

.staffscheduler .sch-schedulerview td {
    border-bottom-color: #666 !important;
    border-top-color: #eee !important;
    border-right-color: #666 !important;
}

.taskgrid .x-grid-row .x-grid-cell-first .x-grid-cell-inner
{
    background: url(../img/puzzle.png) no-repeat 2px center !important;
    padding-left:24px;
}

.taskgrid .x-grid-cell-inner, .sch-schedulerpanel .x-grid-inner-locked .x-grid-cell-inner
{
    font-size:12px;
    line-height:20px !important;
}

.sch-event 
{
    opacity:0.9;
    background-color:limegreen;
    border: 1px solid green;
	color:#fff;
    cursor: pointer;
    font-size:1.2em;
    text-align : center;
    -moz-box-shadow:1px 1px 1px rgba(100, 100, 100, 0.2);
    -webkit-box-shadow:1px 1px 1px rgba(100, 100, 100, 0.2);
    line-height:16px;
}

div.invalid
{
    background-color:Red;
    color:black;
}

div.invalid .sch-event-inner
{
    background: transparent url(../img/grid/error.png) no-repeat left top;
    padding-left:22px;
}

div.sch-event-hover 
{
    border-color:#333;
}

.sch-event-selected 
{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-color:#000 !important; 
    opacity:1;
}

.taskgrid .x-grid-cell
{
    border-right: 0 !important;
}


/* Poor IE always misunderstanding z-index */
.x-ie .x-grid-table
{
    position:relative;
    z-index:2;
}

/* Some style indicating an availability interval is special */
div.optimal
{
    background: Aqua !important;
    border-color:navy;
}

.staffscheduler .optimal
{
    background: Aqua url(../img/grid/accept.png) no-repeat 2px center !important;
    opacity:0.9;
}

.sch-resourcezone,
.availability-scheduler .sch-event
{
	background: darkseagreen url(../img/pattern.png) repeat 0 0;
}


.availability-scheduler .sch-event 
{
	color:#fff;
    cursor: pointer;
    font-size:1.2em;
    text-align : center;
    -moz-box-shadow:1px 1px 1px rgba(100, 100, 100, 0.2);
    -webkit-box-shadow:1px 1px 1px rgba(100, 100, 100, 0.2);
    line-height:19px;
    border-radius:0;
}

.sch-dd-wrap
{
    height : 45px;    
}


.appointment-dd-tooltip-container > .sch-event
{
    background-color:#E5E9EE !important;
    text-align: center !important;
    color:#000 !important;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-radius: none;
}

.sch-event-SO-tooltip
{
    margin: 0 0 0 25px !important;
}

.x-dd-drag-ghost
{
    height: auto !important;
    width: auto !important;
}

.x-dd-drag-ghost
{
    background-color:#E5E9EE !important;
}




